.shop {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
}

.shop > .discount {
  flex: 1 1;
  max-width: 200px;
  border-radius: 5px;
  padding-bottom: 10px;
  background-color: white;
  margin: 0;
  border: 1px solid purple;
}

.discount-image > img {
  width: 130px;
  height: 130px;
}

.shop > .discount > .discount-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.discount-desc > p:first-of-type {
  text-transform: uppercase;
  font-size: 0.65rem;
}

h2.shop-header {
  border-radius: 5px;
  text-align: center;
  margin-bottom: 30px;
  background: white;
}

.add-cart-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  gap: 5px;
}

.control-btns {
  display: flex;
  align-items: center;
}

.btn {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 5px;
  border: 1px solid purple;
  background-color: transparent;
}

span.number-of-items {
  padding: 3px 10px;
  border: 1px solid purple;
}

footer {
  margin-top: auto;
}

button.add-to-cart {
  padding: 2px 4px;
}

.control-btns > button:first-of-type {
  border-right: none;
}

.control-btns > button:last-of-type {
  border-left: none;
}

span.number-of-items {
  border-radius: 2px;
}

button.add-to-cart {
  border: 1px solid purple;
  padding: 2px 4px;
  background-color: transparent;
  font-weight: bold;
  width: 85px;
}
