.App > section:first-of-type {
  display: flex;
  min-height: 85vh;
}

small {
  font-size: 0.8rem;
}

.hero-text,
.hero-image {
  flex: 1;
}

.hero-text {
  flex: 1;
  display: flex;
  row-gap: 40px;
  padding-top: 40px;
  flex-direction: column;
}

.hero-text > button {
  padding: 15px 25px;
  align-self: flex-start;
}

.hero-text >p:last-of-type {
  margin-top: 50px;
  font-size: small;
}

.hero-image {
  flex: 1.3;
}

.hero-image > img:first-child {
  width: 565px;
}

