main > div:first-of-type {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 6px 20px;
  background-color: white;
  background-image: linear-gradient(180deg, #123, transparent);
}

main > div:first-of-type > * {
  background-color: #edebeb;
  min-width: 230px;
  display: flex;
  margin: 0 auto;
  padding: 15px;
  font-size: 0.85rem;
  max-width: 300px;
  flex: 1 1;
  box-shadow: 1px 1px 5px 1px #123;
}

main {
  margin-bottom: 80px;
}

.card-text-div {
  display: flex;
  flex-direction: column;
}

.card-text-div > button {
  width: fit-content;
  margin-top: auto;
}

.card-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 570px) {
  main > div:first-of-type {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .card-image-div > img {
    width: 110px;
  }
}
