.promo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  font-family: 'Sofia';
  padding: 20px;
  width: 200px;
  height: 300px;
  border: 5px solid rebeccapurple;
}

.promo-image {
  flex: 1 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

main > div:nth-child(3) {
  background-image: linear-gradient(180deg, #edebeb, transparent);
}

.promo-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
  padding-top: 15px;
  justify-content: space-between;
}

.promo-header > h2 {
  font-weight: 900;
  font-size: 2rem;
}

.promo-image > img {
  width: 100px;
}

.promo-text > button {
  padding: 8px 10px;
  margin-top: 15px;
  border: none;
  background-color: #3e0078;
  color: white;
  font-weight: 900;
  box-shadow: 1px 1px 2px black;
}

.promo-card-wrapper {
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.promo-text {
  flex: 1 1;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-top: auto;
}

.promo-card-wrapper > div:nth-child(2) > div:first-of-type > img {
  width: 100px;
}
