* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#root {
  background-color: #ffffffc4;
}

.App {
  margin: auto;
  display: flex;
  max-width: 1000px;
  min-height: 100vh;
  flex-direction: column;
}