nav > ul > li:last-of-type > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-icon > img {
  width: 25px;
}

.cart-icon {
  position: relative;
}

.cart-length {
  top: -10px;
  right: -3px;
  width: 20px;
  padding: 3px;
  height: 20px;
  display: flex;
  color: white;
  font-weight: bold;
  position: absolute;
  border-radius: 100%;
  align-items: center;
  font-family: sans-serif;
  background-color: #ff6565;
}

.cart-length > span {
  font-size: 0.7rem;
  margin: auto;
}
