nav > ul > li:last-of-type > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-icon > img {
  width: 25px;
}

.cart-icon {
  position: relative;
}

.cart-length {
  top: -10px;
  right: -3px;
  width: 20px;
  padding: 3px;
  height: 20px;
  display: flex;
  color: white;
  font-weight: bold;
  position: absolute;
  border-radius: 100%;
  align-items: center;
  font-family: sans-serif;
  background-color: #ff6565;
}

.cart-length > span {
  font-size: 0.7rem;
  margin: auto;
}

.display-cart > .discount-image > img {
  width: 70px;
}

.display-cart {
  width: 500px;
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid purple;
  position: relative;
  min-width: 280px;
  height: 140px;
}

.discount-image {
  padding-right: 10px;
}

.display-cart > .discount-desc > .add-cart-wrapper {
  justify-content: flex-start;
}

.display-cart > .discount-desc > .add-cart-wrapper > .control-btns {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 13px;
  right: 12px;
}

.display-cart > .discount-desc {
  display: flex;
  flex-direction: column;
}

.display-cart > .discount-desc > small {
  margin-top: auto;
  text-align: start;
}