nav > ul > li:last-of-type > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-icon > img {
  width: 25px;
}

.cart-icon {
  position: relative;
}

.cart-length {
  top: -10px;
  right: -3px;
  width: 20px;
  padding: 3px;
  height: 20px;
  display: flex;
  color: white;
  font-weight: bold;
  position: absolute;
  border-radius: 100%;
  align-items: center;
  font-family: sans-serif;
  background-color: #ff6565;
}

.cart-length > span {
  font-size: 0.7rem;
  margin: auto;
}

.display-cart > .discount > .discount-image > img {
  width: 70px;
}

.display-cart > .discount {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid purple;
  position: relative;
  width: 100%;
}

.discount-image {
  padding-right: 10px;
}

.display-cart > .discount > .discount-desc > .add-cart-wrapper {
  justify-content: flex-start;
}

.display-cart > .discount > .discount-desc > .add-cart-wrapper > .control-btns {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 13px;
  right: 12px;
}

.display-cart > .discount > .discount-desc {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.display-cart > .discount > .discount-desc > small {
  margin-top: auto;
  text-align: start;
}

em {
  font-size: 0.85rem;
}

.display-cart > .discount > .discount-desc > .price > .current-price {
  font-weight: 600;
  font-size: 0.85rem;
}

.cart-link {
  display: flex;
  align-items: center;
}

.display-cart > h2 {
  text-align: center;
}

.display-cart > h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 30px;
}

.display-cart > .discount > .discount-desc > small > p.available {
  position: absolute;
  top: 5px;
}

.display-cart > .discount > div:last-of-type {
  margin-top: 0;
}