header {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-around;
}
header > h1 {
  flex: 8 1;
  width: fit-content;
  text-decoration: underline;
}

 a {
  text-decoration: none;
}