@import url(https://fonts.googleapis.com/css?family=Sofia);

header > div {
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
  align-items: center;
  justify-content: space-around;
}
header {
  background-color: #edebeb;
  border-bottom: 5px solid #3e0078;
}

button:hover {
background-color: #1428b9;
border: none;
cursor: pointer;
border: 1px solid #1428b9;
}

a:hover, h1 > span:hover {
  color: rgb(0, 200, 255);
}

header h1 {
  flex: 8 1;
  width: fit-content;
  display: flex;
  font-family: "Sofia", sans-serif;
}

h1 > span {
  background-color: #123;
  padding: 4px 20px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-family: "Sofia", sans-serif;
}
