@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.App > section:first-of-type {
  padding: 0 20px;
  color: #ffffff;
  display: flex;
  min-height: min-content;
  background: radial-gradient(
    at -160%,
    #341406e8,
    #2c2c4a 5%,
    #000000 74%,
    #123 75%
  );
  z-index: 1;
}

small {
  font-size: 0.8rem;
}

.hero-text {
  flex: 1 1;
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  justify-content: space-between;
}

.hero-text > button {
  padding: 10px 15px;
  align-self: flex-start;
  width: fit-content;
  border: none;
  background-color: #3e0078;
  color: whitesmoke;
  font-weight: 900;
  box-shadow: 0px 0px 3px 0px #c2975f;
}

.hero-text > p:last-of-type {
  align-self: self-start;
  color: oldlace;
  font-weight: 900;
  width: fit-content;
  background-color: #32546d;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: monospace;
}

.hero-text > small {
  color: oldlace;
  font-weight: 900;
  width: fit-content;
  background-color: #be8633;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: monospace;
}

.hero-text > p:nth-of-type(1) {
  color: #fff6e8;
  padding: 5px 0;
  font-family: "Open Sans", serif;
}

.hero-text > h1 {
  font-size: min(2.5rem, 5vw);
  font-family: "Open Sans", serif;
}

.hero-image {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .App > section:first-of-type {
    display: flex;
    min-height: min-content;
    flex-direction: column;
  }
  .hero-text {
    max-width: 450px;
    margin: auto;
  }
  .hero-text > small {
    text-align: center;
  }
  .hero-text > h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  .hero-text > p:nth-of-type(1) {
    text-align: center;
  }

  .hero-text > button {
    margin: 10px auto 20px;
  }
  .hero-text > p:last-of-type {
    align-self: center;
  }
  .hero-image {
    justify-content: center;
  }
  .hero-image > img:first-child {
    width: 330px;
  }
}

@media screen and (max-width: 390px) {
  .hero-text {
    max-width: 450px;
    margin: auto;
  }
  .hero-image > img:first-child {
    width: 270px;
  }
  .hero-text > h1 {
    font-size: 2.5rem;
  }
}
