footer {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.link {
  flex: 1;
  gap: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mailing {
  flex: 1;
}

footer li {
  list-style: none;
}