footer {
  gap: 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 70px 20px;
  margin-bottom: 10px;
  justify-content: space-between;
  background: radial-gradient( at 22%, #341406e8, #2c2c4a 5%, #123 74%, #1230 75% );
}

.link {
  flex: 1;
  gap: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mailing {
  flex: 1;
}

footer li {
  list-style: none;
}