footer {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.link {
  gap: 10px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer li {
  list-style: none;
}